@use '@/styles/base/index.scss' as *;

.container {
    padding: 12px;
    display: flex;
    flex-direction: column;

    .contentContainer {
        display: flex;
        gap: 18px;
        margin-top: 28px;

        .mainSection {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 10vh);
            width: 60%;
        }
    }
}